In [34]:
import numpy as np
import pandas as pd
#import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
#import seaborn as sns
#from sklearn.linear_model import LogisticRegression
#from sklearn.model_selection import train_test_split
#import warnings
#warnings.filterwarnings("ignore")

In [50]:
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [35]:
import numpy as np

In [36]:
np.eye(2)

array([[1., 0.],
       [0., 1.]])

In [37]:
df=pd.read_csv("https://raw.githubusercontent.com/Premalatha-success/Datasets/main/titanic-training-data.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [38]:
df.sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
206,207,0,3,"Backstrom, Mr. Karl Alfred",male,32.0,1,0,3101278,15.8500,NaN,S
222,223,0,3,"Green, Mr. George Henry",male,51.0,0,0,21440,8.0500,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
360,361,0,3,"Skoog, Mr. Wilhelm",male,40.0,1,4,347088,27.9000,NaN,S
673,674,1,2,"Wilhelms, Mr. Charles",male,31.0,0,0,244270,13.0000,NaN,S
511,512,0,3,"Webber, Mr. James",male,NaN,0,0,SOTON/OQ 3101316,8.0500,NaN,S
245,246,0,1,"Minahan, Dr. William Edward",male,44.0,2,0,19928,90.0000,C78,Q
344,345,0,2,"Fox, Mr. Stanley Hubert",male,36.0,0,0,229236,13.0000,NaN,S
844,845,0,3,"Culumovic, Mr. Jeso",male,17.0,0,0,315090,8.6625,NaN,S
739,740,0,3,"Nankoff, Mr. Minko",male,NaN,0,0,349218,7.8958,NaN,S

In [39]:
#-->Data exploration

In [40]:
df.shape

(891, 12)

In [41]:
#-->there are observations and 12 columns
#--> Out of 12 column is dependent variable and remaining 11 are independent variables
#-->Servived variable ->Y

In [42]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [45]:
#-->Missing values -> Age ,Embarked,Cabin

In [46]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [47]:
#sns.countplot(x="Survived",data=df)

In [48]:
df["Survived"].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [49]:
sns.countplot(x="Survived",hue="Sex",data=df)

NameError: name 'sns' is not defined

In [ ]:
pd.crosstab(df["Survived"],df["Sex"])

:

In [ ]:
sns.countplot(x="Survived",hue="Pclass",data=df)

:

In [ ]:
pd.crosstab(df["Survived"],df["Pclass"])

:

In [ ]:
sns.boxplot(x="Sex",y="Survived",Data=df)

:

In [ ]:
sns.boxplot(x="Pclass",y="Age",data=df)

:

In [ ]:
df=df.drop("Cabin",axis=1)

:

In [ ]:
df.head()

:

In [ ]:
df=df.dropna()

:

In [ ]:
df.shape

:

In [ ]:
df.head()

:

In [ ]:
df=pd.get_dummies(columns=["Sex","Embarked","Pclass"],data=df)

:

In [ ]:
df.head()

:

In [ ]:
df=df.drop(["PassengerId","Name","Ticket","Fare"],axis=1)

:

In [ ]:
df.head()

:

In [ ]:
df.dtypes

:

In [ ]:
#-->split into x and y
X=df.drop("Survived",axis=1)
Y=df["Survived"]

:

In [ ]:
#->training and testing split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.30,random_state=1)

:

In [ ]:
model_1=LogisticRegression()

:

In [ ]:
model_1.fit(X_train,Y_train)

:

In [ ]:
model_1.score(X_train,Y_train)

:

In [ ]:
model_1.score(X_test,Y_test)

:

In [ ]:
#-->Drop missing values:Train(80%)Test(78%)
#-->Median and mode: Train(81%)Test(77%)
#-->Mean and Mode : Train(81%) Test(77%)

:

In [ ]:
predictions=model_1.predict(X_test)

:

In [ ]:
from sklearn import metrics
from sklearn.metrics import accuracy_score

:

In [ ]:
accuracy_score(Y_test,predictions)

:

In [ ]:
cm=metrics.confusion_matrix(Y_test,predictions,labels=[1,0])
df_cm=pd.DataFrame(cm,index=[i for i in["1","0"]],
                   columns=[i for i in ["Predict 1","Predict 0"]])
plt.figure(figsize=(7,5))
sns.heatmap(df_cm,annot=True,fmt="g")

:

In [ ]:
df.info()

: